[
;;person entity

;;info
{:db/id #db/id[:db.part/db]
 :db/ident :person/account
 :db/valueType :db.type/uri
 :db/cardinality :db.cardinality/one
 :db/doc "A person's stormpath account"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person/firstName
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "A person's first name"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person/lastName
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "A person's last name"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person/email
 :db/unique :db.unique/identity
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "A person's email"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person/gender
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "A person's biological gender"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/user]
 :db/ident :person.gender/female}

{:db/id #db/id[:db.part/user]
 :db/ident :person.gender/male}

{:db/id #db/id[:db.part/db]
 :db/ident :person/dob
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "A person's date of birth"
 :db.install/_attribute :db.part/db}

;;metrics
{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/height
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's height"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/weight
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's weight"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/dexaT
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's dexa T score"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/dexaZ
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's dexa Z score"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/rhr
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's resting heart rate"
 :db.install/_attribute :db.part/db}

;;challenges
{:db/id #db/id[:db.part/db]
 :db/ident :person/challenges
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "A person's challenges"
 :db.install/_attribute :db.part/db}

;;adherence ref
{:db/id #db/id[:db.part/db]
 :db/ident :person/adherence
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "adherence entity ref(s)"
 :db.install/_attribute :db.part/db}

;;adherence entity
{:db/id #db/id[:db.part/db]
 :db/ident :person.adherence/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "adherence unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.adherence/challenge
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "the challenge instance to which adherence is being tracked"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.adherence/parameter
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge parameter to which adherence is being tracked"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.adherence/date
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "date for which adherence is being tracked"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.adherence/value
 :db/valueType :db.type/boolean
 :db/cardinality :db.cardinality/one
 :db/doc "record of adherence"
 :db.install/_attribute :db.part/db}




;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;program templates
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:db/id #db/id[:db.part/db]
 :db/ident :program/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "program unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/name
 :db/valueType :db.type/string
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "program short name"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/description
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "program description"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/parameters
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "program parameters"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/type
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "program type"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/user]
 :db/ident :program.type/public}

{:db/id #db/id[:db.part/user]
 :db/ident :program.type/private}

;;program parameters
{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/id
 :db/valueType :db.type/uuid
 :db/cardinality :db.cardinality/one
 :db/doc "program parameter unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/text
 :db/valueType :db.type/string 
 :db/cardinality :db.cardinality/one
 :db/doc "program parameter text"
 :db.install/_attribute :db.part/db}




;;challenge instances
{:db/id #db/id[:db.part/db]
 :db/ident :challenge/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/program
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance template"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/startDate
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance start date"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/endDate
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance end date"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/exceptions
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "program parameters"
 :db.install/_attribute :db.part/db}

;;challenge exceptions
{:db/id #db/id[:db.part/db]
 :db/ident :challenge.exception/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "challenge exception unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge.exception/parameter
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge exception parameter"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge.exception/quantity
 :db/valueType :db.type/long
 :db/cardinality :db.cardinality/one
 :db/doc "challenge exception quantity"
 :db.install/_attribute :db.part/db}

;;entity security metatdata
{:db/id #db/id[:db.part/db]
 :db/ident :entity.security.metadata/ownership
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "asset owner(s)"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :entity.security.metadata/editors
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "asset owner(s)"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :entity.security.metadata/readers
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "asset owner(s)"
 :db.install/_attribute :db.part/db}


;;entity history metadata
{:db/id #db/id[:db.part/db]
 :db/ident :entity.history.metadata/createdBy
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "person record of user who created this asset"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :entity.history.metadata/modifiedBy
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "person record of user edited this asset"
 :db.install/_attribute :db.part/db}

]
