[
;; :db/doc "person metrics unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/height
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's height"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/weight
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's weight"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/dexaT
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's dexa T score"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/dexaZ
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's dexa Z score"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :person.metrics/rhr
 :db/valueType :db.type/float
 :db/cardinality :db.cardinality/one
 :db/doc "A person's resting heart rate"
 :db.install/_attribute :db.part/db}

;;challenges
{:db/id #db/id[:db.part/db]
 :db/ident :person/challenges
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "A person's challenges"
 :db.install/_attribute :db.part/db}

;;adherence ref
{:db/id #db/id[:db.part/db]
 :db/ident :person/adherence
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "adherence entity ref(s)"
 :db.install/_attribute :db.part/db}

;;adherence entity header
{:db/id #db/id[:db.part/db]
 :db/ident :adherence.header/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "adherence unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :adherence.header/challenge
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "the challenge instance to which adherence is being tracked"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :adherence.header/items
 :db/valueType :db.type/ref
 :db/isComponent true
 :db/cardinality :db.cardinality/many
 :db/doc "adherence items"
 :db.install/_attribute :db.part/db}

;;adherence line items
{:db/id #db/id[:db.part/db]
 :db/ident :adherence.item/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "adherence unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :adherence.item/date
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "date for which adherence is being tracked"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :adherence.item/parameter
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge parameter to which adherence is being tracked"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :adherence.item/value
 :db/valueType :db.type/boolean
 :db/cardinality :db.cardinality/one
 :db/doc "record of adherence"
 :db.install/_attribute :db.part/db}




;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;program templates
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:db/id #db/id[:db.part/db]
 :db/ident :program/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "program unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/name
 :db/valueType :db.type/string
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "program short name"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/description
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "program description"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/parameters
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "program parameters"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program/type
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "program type"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/user]
 :db/ident :program.type/public}

{:db/id #db/id[:db.part/user]
 :db/ident :program.type/private}

;;program parameters
{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/id
 :db/valueType :db.type/uuid
 :db/cardinality :db.cardinality/one
 :db/doc "program parameter unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/displayText
 :db/valueType :db.type/string 
 :db/cardinality :db.cardinality/one
 :db/doc "program parameter display text - 'i will do x y times in period p"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/questionText
 :db/valueType :db.type/string 
 :db/cardinality :db.cardinality/one
 :db/doc "question participants will answer daily - 'did you do x today?'"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/quantity
 :db/valueType :db.type/long 
 :db/cardinality :db.cardinality/one
 :db/doc "program parameter amount - 'y times'"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :program.parameter/period
 :db/valueType :db.type/long 
 :db/cardinality :db.cardinality/one
 :db/doc "program parameter period - 'in period p'"
 :db.install/_attribute :db.part/db}






;;challenge instances
{:db/id #db/id[:db.part/db]
 :db/ident :challenge/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/name
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance name"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/program
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance template"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/startDate
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance start date"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/endDate
 :db/valueType :db.type/instant
 :db/cardinality :db.cardinality/one
 :db/doc "challenge instance end date"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/allowViral
 :db/valueType :db.type/boolean
 :db/cardinality :db.cardinality/one
 :db/doc "are 'viral' challenges allowed?"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge/exceptions
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "program parameters"
 :db.install/_attribute :db.part/db}

;;challenge exceptions
{:db/id #db/id[:db.part/db]
 :db/ident :challenge.exception/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "challenge exception unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge.exception/parameter
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge exception parameter"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :challenge.exception/quantity
 :db/valueType :db.type/long
 :db/cardinality :db.cardinality/one
 :db/doc "challenge exception quantity"
 :db.install/_attribute :db.part/db}


;;invites
{:db/id #db/id[:db.part/db]
 :db/ident :invite/id
 :db/valueType :db.type/uuid
 :db/unique :db.unique/identity
 :db/cardinality :db.cardinality/one
 :db/doc "invite unique id"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :invite/challenger
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "user who sent an invite for this challenge"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :invite/challengee
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "user to whom the invite was sent"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :invite/challenge
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "challenge related to this invite"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :invite/status
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "status of this invite"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/user]
 :db/ident :invite.status/issued}

{:db/id #db/id[:db.part/user]
 :db/ident :invite.status/accepted}

{:db/id #db/id[:db.part/user]
 :db/ident :invite.status/declined}

{:db/id #db/id[:db.part/db]
 :db/ident :invite/message
 :db/valueType :db.type/string 
 :db/cardinality :db.cardinality/one
 :db/doc "invite message text"
 :db.install/_attribute :db.part/db}


;;entity security metatdata
{:db/id #db/id[:db.part/db]
 :db/ident :entity.security.metadata/ownership
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "asset owner(s)"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :entity.security.metadata/editors
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "asset owner(s)"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :entity.security.metadata/readers
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "asset owner(s)"
 :db.install/_attribute :db.part/db}


;;entity history metadata
{:db/id #db/id[:db.part/db]
 :db/ident :entity.history.metadata/createdBy
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "person record of user who created this asset"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :entity.history.metadata/modifiedBy
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "person record of user edited this asset"
 :db.install/_attribute :db.part/db}

]
